{% extends 'layout.html.twig' %}

{% block main %}
    <h1>{{ titre }}</h1>
    <div>
        <a href="{{ path('test') }}" target="_self">Test twig</a>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, Architecto.</p>
    </div>
    <div>
        <p>Mes Séries v1 : FOR..IN..ELSE</p>
        <ul>
            {% for serie in series %}
                <li> {{ serie }}</li>
            {% else %}
                <li><i>Aucune série.</i></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p>Mes Séries v2 : FOR..IN avec LOOP.INDEX (numero index)</p>
        <ul>
            {% for serie in series %}
                <li> [{{ loop.index }}] {{ serie }}</li>
            {% else %}
                <li><i>Aucune série.</i></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block title %}
    Series! | Home
{% endblock %}