{% extends 'layout.html.twig' %}

{% block title %}
    Series! | Test
{% endblock %}


{% block main %}
    <h1>Test Twig</h1>

    <div>
        <h2>Test protection XSS</h2>
        <p>Affichage protégé :</p>
        {{ protected_content }}
        <p>Affichage non-protégé (RAW):</p>
        {{ unprotected_content | raw }}
        <p>Affichage non-protégé (STRIPTAGS):</p>
        {{ unprotected_content | striptags }}
    </div>
    <hr>
    <div>
        {% set yo = "bla" %}

        {# Affiche la variable yo #}
        <p>Variable yo : {{ yo }}</p>

        {# Tableau #}
        {% set colors = ["bleu", "rouge", "vert"] %}
    </div>

    <div>
        Toutes les couleurs :
        <ul>
            {% for color in colors %}
                <li>{{ color }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        Toutes les couleurs, sauf rouge :
        <ul>
            {% for color in colors %}
                {% if  color != 'rouge' %}
                    <li>{{ color | upper }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div>
        {% set num = 123987456.7891358 %}
        <ul>
            <li>Nombre tel quel : {{ num }}</li>
            <li>Nombre formaté : {{ num | number_format(2, ',', '&nbsp;') | raw }}</li>
        </ul>
    </div>
{% endblock %}