{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Our Series!</h2>
    <div>
        {% for serie in series %}
            <div class="serie">
                {{ serie.id }}. <a href="{{ path('serie_detail', {'id': serie.id }) }}">{{ serie.name }}</a>
                ({{ serie.seasons|length }} seasons)
            </div>
        {% else %}
            <p><i>Aucune série trouvée.</i></p>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Liste{% endblock %}

