<nav>
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('test') }}">Test</a></li>
        <li><a href="{{ path('serie_list') }}">Serie/List</a></li>
        <li><a href="{{ path('serie_add') }}">Serie/Add</a></li>
        <li><a href="{{ path('tmdb') }}">TMDB API</a></li>
        <li><a href="#">Refresh</a></li>
    </ul>
</nav>